*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4b8769;
    text-align: center;
}
.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #802f2c;
    background-color: #ffffc7;
}
#reset{
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(20, 36, 36);
    color: whitesmoke;
    cursor: pointer;
}
#reset:hover{
    padding: 14px;
    border-radius: 7px;
}
#newGame{
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(20, 36, 36);
    color: whitesmoke;
    cursor: pointer;
}
#newGame:hover{
    padding: 14px;
    border-radius: 7px;
}
#msg{
    font-size: 5vmin;
    color: #ffffc7;
}
.msg-container{
    height: 90px;
}
.hide{
    display: none;
}